.home {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "a" "b" "c";
  grid-gap: 1.3rem;

  .info {
    grid-area: a;
  }

  .skills {
    grid-area: b;
  }

  .follow {
    grid-area: c;
  }

  .blanc {
    grid-area: d;
  }

  .tools {
    grid-area: e;
  }

  .likes {
    grid-area: f;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr auto 1fr;
    grid-template-areas:
      "a a a b b b"
      "a a a b b b"
      "a a a c c c"
      "d d d d d d"
      "d d d d d d"
      "e e e f f f"
      "e e e f f f"
      "e e e g g g";
  }
}
